body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}


.gallery_wrapper {
  width: 90%;
  margin: auto;
  overflow-x: scroll;
}

.gallery_list {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery_display {
  width: 80%;
  height: 300px;
}

.gallery_item  {
  margin: 7px;
  border: 7px solid #fff;
  flex: 0 0 240px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  width:200px;
  height:200px;
  position:relative;
  cursor:pointer;
  background-size: cover;
}

.gallery_header {
  color: #444;
  font-size: 1em;
}

.gallery_header span {
  font-size: 0.8em;
  color: #888;
}
.gallery_item.favourite:before {
  background-color: rgba(0,0,0, 0.4);
  padding: 3px;
  top:0px;
  right:0px;
  position: absolute;
  content: "\2605";
  color: #faa61a;
  box-shadow: rgba(0,0,0, 0.4);
}


.gallery_item.gallery_item--next_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #575757;
}


/* faa61a */